trigger:
  branches:
    include:
      - main
  paths:
    include:
      - frontend

variables:
  # Nombres de las conexiones
  dockerRegistryServiceConnection: 'ConexionACR'
  azureSubscriptionConnection: 'ConexionAzureRecalificacion'
  
  # Nombres de recursos en Azure
  acrHost: 'blindcheckacr.azurecr.io'
  frontImageName: 'blindcheck-front'
  
  # Nombre del App Service
  webAppNameFront: 'visual-blindcheck'

stages:
- stage: BuildAndPush
  displayName: 'Construir y Subir Imagen Frontend'
  jobs:
  - job: Build
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: Docker@2
      displayName: 'Build and Push Frontend'
      inputs:
        command: 'buildAndPush'
        repository: $(frontImageName)
        dockerfile: '**/frontend/Dockerfile'
        containerRegistry: $(dockerRegistryServiceConnection)
        tags: |
          $(Build.BuildId)
          latest

- stage: Deploy
  displayName: 'Desplegar Frontend en Azure'
  dependsOn: BuildAndPush
  jobs:
  - job: Deploy
    pool:
      vmImage: 'ubuntu-latest'
    steps:
    - task: AzureWebAppContainer@1
      displayName: 'Deploy Frontend to App Service'
      inputs:
        azureSubscription: $(azureSubscriptionConnection)
        appName: $(webAppNameFront)
        containers: '$(acrHost)/$(frontImageName):$(Build.BuildId)'
